* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    font-family: 'Poppins';
}

header {
    display: flex;
    flex-flow: row wrap;
    background-color: burlywood;
    width: 100%;
    padding: 1ch;
}
header ul,footer ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

header ul li,footer ul li {
    margin-right: 2ch;
    padding: 1ch;
    background-color: cornflowerblue;
    border-radius: 1ch;
}

main {
    position: relative;
    flex: auto;
    background-color: brown;
    display: flex;
    flex-flow: row;
}

.main-left {
    background-color: aqua;
    padding: 1ch;
}

.webgl-container {
    position: relative;
    min-width: 300px;
   
    flex: auto;
    background-color: blueviolet;
    overflow: hidden;
    line-height: 0;
    border: 8px solid red;
}

.main-right {
    background-color: brown;
    padding: 1ch;
}



footer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: rgb(42, 165, 69);
    padding: 1ch;
}


